<%- include("../../partials/header.ejs") %>

<div class="navbar-item">
    <div class="navbar-buttons">
        <div class="navbar-item">
            <a href="/admin/products"><i class="fa fa-star"></i> Products</a>
        </div>
    </div>
</div>

</div>
</nav>
</header>

<div class="columns is-centered">
    <div class="column is-half">
        <h1 class="subtitle">Create a Product</h1>
            <form method="POST" enctype="multipart/form-data"> 
                <div class="field">
                    <label class="label">Title</label>
                    <input class="input" placeholder="Name" name="name" />
                    <% if(locals.nameError) %><p class="help is-danger"><%= locals.nameError %></p>
                </div>
                <div class="field">
                    <label class="label">Price</label>
                    <input class="input" placeholder="Price" name="price" />
                    <% if(locals.priceError) %><p class="help is-danger"><%= locals.priceError %></p>
                </div>
                <div class="field">
                    <label class="label">Image</label> 
                    <input class="label" type="file" name="image" />
                    <% if(locals.imageError) %><p class="help is-danger"><%= locals.imageError %></p>
                </div>
                <br />
                <button class="button is-primary">Add product</button>
                <br />
                <% if(locals.msg) %><p><%= locals.msg %></p>
            </form>
    </div>
</div>

<%- include("../../partials/footer.ejs") %>