<%- include("../partials/publicheader.ejs") %>

<nav class="navbar navbar-bottom">
    <div class="container navbar-container">
      <div>
        <a href="/">
          <h3 class="title">Explore Collection</h3>
        </a>
      </div>
      <div class="navbar-item">
        <div class="navbar-buttons">
          <div class="navbar-item">
            <% if(locals.isCart) {%><a href="/"><i class="fa fa-house"></i> Home</a><% } %>
            <% if(!locals.isCart) {%><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart</a><% } %>
          </div>
          
          <div class="navbar-item">
            <% if(locals.id) {%><a href="/user/logout"><i class="fas fa-right-from-bracket"></i> Logout</a><% } %>
            <% if(!locals.id) {%><a href="/user/login"><i class="fas fa-right-to-bracket"></i> Login</a><% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
</body>

<section class="banner">
    <div class="container">
        <div class="columns is-centered">
            <img src="/images/banner.png" />
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="columns">
            <div class="column ">
            </div>
            <div class="column is-four-fifths">
                <div>
                    <h2 class="title text-center">Featured Items</h2>
                    <div class="columns products">
                        <% products.forEach(product => { %> 
                            <div class="column is-one-quarter">
                                <div class="card product-card">
                                <figure>
                                    <img src="data:image/jpeg;base64, <%= product.image %>"/>
                                </figure>
                                <div class="card-content">
                                    <h3 class="subtitle"><%= product.name %></h3>
                                    <h5>Rs. <%= product.price %></h5>
                                </div>
                                <footer class="card-footer">
                                    <form action="/cart/add/<%= product._id %>" method="POST">
                                    <button class="button has-icon is-inverted"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                    </form>
                                </footer>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="column ">
            </div>
        </div>
    </div>
</section>

<%- include("../partials/footer.ejs") %>